* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #b4b4b4;
}

img {
  width: 100%;
  height: auto;
}

.spoiler {
  height: 40px;
  transition: all .5s;
}

.shown {
  height: 300px;
  transition: all .5s;

}

.main {
  width: 300px;
  background: #fff;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}

.header {
  width: 100px;
  height: 20px;
  background: #fff;
  display: block;
  border: 1px solid black;
  margin: 0 auto;
  cursor: pointer;

}

.content {
  background: #fff;
  margin: 10px;

}

.colorize {
  background-color: black;

}